02-UserDirs/Bobrovskiy/C#/HomeTask/Domashka_12_Joke_Activator/jokes/jokelist_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jokes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="joke">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="content" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>