02-UserDirs/VladychenkoA/WCF/CurrencyConverter1/CurrencyConverterClient/Service References/CurrencyConverterService/CurrencyConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyConverter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64377/CurreencyConventer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64377/CurreencyConventer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64377/CurreencyConventer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyConverter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyConverter_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConverter_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConverter_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConverter_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConverter_Convert_InputMessage">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConverter_Convert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConverter_GetCurrentcyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentcyList" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConverter_GetCurrentcyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentcyListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyConverter">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConverter/GetData" message="tns:ICurrencyConverter_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConverter/GetDataResponse" message="tns:ICurrencyConverter_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConverter/GetDataUsingDataContract" message="tns:ICurrencyConverter_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConverter/GetDataUsingDataContractResponse" message="tns:ICurrencyConverter_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConverter/Convert" message="tns:ICurrencyConverter_Convert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConverter/ConvertResponse" message="tns:ICurrencyConverter_Convert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentcyList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConverter/GetCurrentcyList" message="tns:ICurrencyConverter_GetCurrentcyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConverter/GetCurrentcyListResponse" message="tns:ICurrencyConverter_GetCurrentcyList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyConverter" type="tns:ICurrencyConverter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConverter/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConverter/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConverter/Convert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentcyList">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConverter/GetCurrentcyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyConverter">
    <wsdl:port name="BasicHttpBinding_ICurrencyConverter" binding="tns:BasicHttpBinding_ICurrencyConverter">
      <soap:address location="http://localhost:64377/CurreencyConventer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>