02-UserDirs/Manekovskiy/WCF/ParrotToPythonConverterSolution/ConverterClient/Service References/ConverterServiceReference/ParrotToPythonConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParrotToPythonConverter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1527/ParrotToPythonConverter.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1527/ParrotToPythonConverter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParrotToPythonConverter_ConvertParrotsToPythons_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertParrotsToPythons" />
  </wsdl:message>
  <wsdl:message name="IParrotToPythonConverter_ConvertParrotsToPythons_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertParrotsToPythonsResponse" />
  </wsdl:message>
  <wsdl:message name="IParrotToPythonConverter_ConvertPythonsToParrots_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertPythonsToParrots" />
  </wsdl:message>
  <wsdl:message name="IParrotToPythonConverter_ConvertPythonsToParrots_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertPythonsToParrotsResponse" />
  </wsdl:message>
  <wsdl:portType name="IParrotToPythonConverter">
    <wsdl:operation name="ConvertParrotsToPythons">
      <wsdl:input wsaw:Action="http://tempuri.org/IParrotToPythonConverter/ConvertParrotsToPythons" message="tns:IParrotToPythonConverter_ConvertParrotsToPythons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParrotToPythonConverter/ConvertParrotsToPythonsResponse" message="tns:IParrotToPythonConverter_ConvertParrotsToPythons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertPythonsToParrots">
      <wsdl:input wsaw:Action="http://tempuri.org/IParrotToPythonConverter/ConvertPythonsToParrots" message="tns:IParrotToPythonConverter_ConvertPythonsToParrots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParrotToPythonConverter/ConvertPythonsToParrotsResponse" message="tns:IParrotToPythonConverter_ConvertPythonsToParrots_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParrotToPythonConverter" type="tns:IParrotToPythonConverter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertParrotsToPythons">
      <soap:operation soapAction="http://tempuri.org/IParrotToPythonConverter/ConvertParrotsToPythons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertPythonsToParrots">
      <soap:operation soapAction="http://tempuri.org/IParrotToPythonConverter/ConvertPythonsToParrots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParrotToPythonConverter">
    <wsdl:port name="BasicHttpBinding_IParrotToPythonConverter" binding="tns:BasicHttpBinding_IParrotToPythonConverter">
      <soap:address location="http://localhost:1527/ParrotToPythonConverter.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>