02-UserDirs/Manekovskiy/WCF/ParrotToPythonConverterSolution/ConverterClient/Service References/ConverterServiceReference/ParrotToPythonConverter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConvertParrotsToPythons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parrots" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertParrotsToPythonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertParrotsToPythonsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertPythonsToParrots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pythons" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertPythonsToParrotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertPythonsToParrotsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>