02-UserDirs/Bobrovskiy/Wcf/AppWithStandAloneServerAndClient/MoneyConvertClient/Service References/ServiceReference/MoneyConverter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppWithStandAloneServerAndClient.WCF_Server.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppWithStandAloneServerAndClient.WCF_Server.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Messsage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
  <xs:complexType name="CurrencyList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyList" nillable="true" type="tns:CurrencyList" />
</xs:schema>