02-UserDirs/Bobrovskiy/Wcf/AppWithStandAloneServerAndClient/MoneyConvertClient/Service References/ServiceReference/MoneyConverter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/MoneyConverter?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppWithStandAloneServerAndClient.WCF_Server.Service" />
  <xs:element name="Convert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromCurrencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toCurrencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentcyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentcyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppWithStandAloneServerAndClient.WCF_Server.Service" minOccurs="0" name="GetCurrentcyListResult" nillable="true" type="q1:CurrencyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>